body {
    background-color: rgb(34, 34, 165);
    font: normal 15pt Arial;
    
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
}


section {
    max-width: 90%; /* Máxima largura do conteúdo */
    margin: 20px auto; /* Centraliza o conteúdo */
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
}

select {
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
    letter-spacing: 1px;
    padding: 10px;
    width: auto;
    height: 200px;
    
}
#gerar {
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
    padding: 2px 10px;
    color: white;
    background-color: green;
    
}

#msg  {
    font-weight: bold;
    padding: 10px;
}


footer {
    color: white;
    text-align: center;
    
}

/* Mídia query para telas menores, como celulares */
@media (max-width: 600px) {
    body {
        font-size: 12pt; /* Reduz a fonte para telas menores */
    }
    
}
