body {
    background-color: rgb(34, 34, 165);
    font: normal 15pt Arial;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
}

section {
    max-width: 90%; /* Máxima largura do conteúdo */
    margin: 20px auto; /* Centraliza o conteúdo */
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
}




footer {
    color: white;
}

/* Mídia query para telas menores, como celulares */
@media (max-width: 600px) {
    body {
        font-size: 12pt; /* Reduz a fonte para telas menores */
    }
    
}
